body{
    background-color: rgb(150, 255, 255);
}
.container{
    border: 2px solid;
    display: grid;
    grid-template-columns: 120px 100px ;
    grid-template-rows: 100px 100px 100px;
}
.items{
    border: 2px solid red;
    width: 55px;
    height: 55px;
    
}
.items-4{
    grid-row:1/2 ;
    grid-column: 1/2;
}
.items-1{
    grid-row:1/2 ;
    grid-column: 1/2;
}
